@import '../../styles/variables';

.shopping-cart {
  position: relative;

  &__orderQuantity {
    position: absolute;
    left: 14px;
    top: 16px;
    z-index: 1;
    background: #a90fdb;
    min-width: 30px;
    text-align: center;
    color: white;
    border-radius: 10px;
    line-height: 1.2;
  }

  &__img {
    width: 60px;
    height: 60px;
  }
}