@import "../../styles/mixins";

.common-btn {
    @include buttons;

    &--active {
      box-shadow: $box-shadow;
    }
}

.sorters {
  &__btn {
    @include buttons;

    &--active {
      box-shadow: $box-shadow;
    }
  }
}

.value-filters {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 20px;
    margin: 10px 0;

    @media (max-width: 550px) {
      font-size: 16px;
    }
  }

  &__btn-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__btn {

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow;
    }
  }
}

.maker-filter-btn {

  &__img {
    width: 55px;
    height: 55px;
  }
}

.color-filter-btn,
.size-filter-btn {
  width: 40px;
  height: 25px;
}

.range-sliders {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 95%;
  justify-content: center;
  align-items: center;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;

    @media (max-width: 550px) {
      font-size: 16px;
    }
  }
}

.popular-btn {
  margin-top: 30px;
}

.quantity-slider,
.year-slider {
  width: 90%;
}